body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f8f9fa;
    text-align: center;
  }

  header {
    background-color: #fff;
    color: #0066ee;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between; /* Aligns items to each end of the container */
    align-items: center; /* Aligns items vertically */
  }

  .logo {
    padding-left: 80px;
    font-weight: bold;
    font-size: 24px;
  }

  .user-info {
    padding-right: 80px;
  }

  .user-info span,
  .user-info a {
    margin-left: 10px;
    color: #0066ee;
  }

  .navbar {
    background-color: #0066ee;
    color: #fff;
    padding: 0px 60px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li {
    display: inline;
    margin-right: 10px;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px; /* Adding padding for space around the text */
    font-weight: bold; /* Making the text bold */
  }

  .nav-links a[href="##"] {
    background-color: #00548b;
  }

  .container {
    width: 350px;
    height: 240px;
    margin: 50px auto;
    padding: 70px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .meal-plan {
    background-color: #fff;
    padding: 20px 20px;
    margin-top: 20px; /* Adjust margin top as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    font-size: 22px;
    margin-top: -10px;
  }

  .meal-plan h2 {
    font-size: 21px;
    margin-left: 20px;
  }

  .days-selection {
    display: flex;
    align-items: center;
  }

  .days-selection input[type="number"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .days-selection label {
    margin-left: 30px; /* Add some space between input and label */
  }
  .generate-btn {
    padding: 10px 40px;
    margin-top: 36px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-decoration: none;
    
  }

  .generate-btn:hover {
    background-color: #e64d00;
  }