body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f8f9fa;
    text-align: center;
  }

  header {
    background-color: #fff;
    color: #0066ee;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding-left: 80px;
    font-weight: bold;
    font-size: 24px;
  }

  .user-info {
    padding-right: 80px;
  }

  .user-info span,
  .user-info a {
    margin-left: 10px;
    color: #0066ee;
  }

  .navbar {
    background-color: #0066ee;
    color: #fff;
    padding: 0px 60px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li {
    display: inline;
    margin-right: 10px;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }

  .nav-links a[href="##"] {
    background-color: #00548b;
  }

  .summary-container {
    background-color: #f8f9fa;
    padding: 20px;
    margin: auto;
    width: fit-content;
  }

  .weekly-summary {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 40px 100px;
    margin: auto;
    text-align: left;
  }

  .summary-heading {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
    text-align: center;
  }

  .summary-list {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .summary-list li {
    margin-bottom: 10px;
  }

  .suggestions {
    font-size: 20px;
  }

  .suggestions li {
    margin-bottom: 10px;
  }