.logo {
    color: #007bff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .user-info {
    padding-right: 80px;
  }

  .user-info span,
  .user-info a {
    margin-left: 10px;
    color: #0066ee;
  }

