{{!< layouts/main}}


<div class="container">
  <div class="text-container">
    <h2>What's your first name?</h2>
    <p>We're glad you're here.<br />Let's get to know you a little better.</p>
  </div>
  <form id="profileForm" action="/createprofile2" method="POST">
    <div class="input_box">
      <input type="text" id="firstName" name="firstName" placeholder="First Name" required />
    </div>
    <div class="button-container">
      <button type="button" onclick="goBack()">BACK</button>
      <button type="submit">NEXT</button>
    </div>
  </form>
</div>

<script>
  function goBack() {
    window.history.back();
  };
</script>
