{{!< layouts/main}}

<div class="container">
      <div class="congrats-container">
        <h1>Congratulations!</h1>
        <p>Your daily net calorie goal is:</p>
        <div class="calorie-goal">
          <input type="text" value="1,620" readonly />
          <span>calories</span>
        </div>
        <p>With this plan, you should:<br />Lose 10 lbs by July 11</p>
        <div class="email-signup">
          <input type="checkbox" id="signup-emails" />
          <label for="signup-emails">Sign up for emails</label>
          <p>
            Get nutrition from Abu Dhabi Eats. Plus, a first look at new
            features!
          </p>
        </div>
        <a href="/home" class="button">EXPLORE ABU DHABI EATS</a>
      </div>
</div>

