{{!< layouts/main}}


<div class="container">
      <div class="congrats-container">
        <h1>Congratulations!</h1>
        <p>Your daily net calorie goal is:</p>
        <div class="calorie-goal">
          
          <input type="text" value="{{targetCalories}}" readonly />
          <span>calories</span>
        </div>
        <p>Stick to your plan and see the results make a difference!</p>
        <div class="email-signup">
          <input type="checkbox" id="signup-emails" />
          <label for="signup-emails">Sign up for emails</label>
          <p>
            Get nutritional info from Abu Dhabi Eats. Plus, a first look at new
            features!
          </p>
        </div>
        <form action="home" method="GET">
          <button name="exploreabuhdabieats" value="yes" class="button">EXPLORE ABU DHABI EATS</button>
        </form>

        {{!-- <a href="/home" class="button">EXPLORE ABU DHABI EATS</a> --}}
      </div>
</div>

