{{!< layouts/main}}

<div class="summary-container">
    <section class="daily-summary">
      <h2>Your Daily Nutrition Targets</h2>
      <div class="calories-remaining">
        <div class="calories-text">
          Calories:
          <span class="calories-value">{{calories}}</span>
          Carbohydrates:
          <span class="carbs-value">{{carbs}}g</span>
          Protein:
          <span class="protein-value">{{protein}}g</span>
          Fat:
          <span class="fat-value">{{fat}}g</span>
        </div>
      </div>
      
      <a href="/meal-feeling-hungry" class="feeling-hungry-btn">Feeling Hungry?</a>
    </section>
</div>