

    <div class="summary-container">
    <section class="daily-summary">
      <h2>Your Daily Summary</h2>
      <div class="calories-remaining">
        <div class="calories-text">
          Calories Remaining:
          <span class="calories-value">1520</span>
          Carbohydrates:
          <span class="carbs-value">234g</span>
          Protein:
          <span class="protein-value">188g</span>
          Fat:
          <span class="fat-value">107g</span>
        </div>
      </div>
      
      <a href="/meal-feeling-hungry" class="feeling-hungry-btn">Feeling Hungry?</a>
      
    </div>
