{{!< layouts/main}}

<header>
    <a href="#" class="logo">Abu Dhabi Eats</a>
</header>
<div class="landing-container">
    <div class="text-container1">
        <h1>Reach your goals</h1>
    </div>
    <div class="text-container2">
        <h1>with AbuDhabiEats</h1>
    </div>
    <p>Build healthy habits with the all-in-one AI meal generator and nutritional tracker.</p>
    <button class="button">Start Today<span class="arrow">></span></button>
</div>
