{{!< layouts/main}}


<div class="landing-container">
    <div class="text-container1">
        <h1>Reach your goals</h1>
    </div>
    <div class="text-container2">
        <h1>with AbuDhabiEats</h1>
    </div>
    <p>Build healthy habits with the all-in-one AI meal generator and nutritional tracker.</p>
    <a href="/createprofile1" class="button">Start Today<span class="arrow">></span></a>


</div>
