<div class="container">
  <h2>Update Your Profile</h2>
  <form id="profileForm" action="/update-profile" method="POST">
    <div class="form-group">
      <label for="height">Height:</label>
      <input type="number" id="height" name="height" placeholder="Height in cm" required min="60" max="270" title="Height must be between 60 and 270 cm" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Must be between 60 and 270 cm')">
    </div>
    <div class="form-group">
      <label for="weight">Weight:</label>
      <input type="number" id="weight" name="weight" placeholder="Weight in kg" required min="30" max="400" title="Weight must be between 30 and 400 kg" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Must be between 30 and 400 kg')">
      <small>It's OK to estimate.</small>
    </div>
    <div class="form-group">
      <label for="goal_weight">Goal Weight:</label>
      <input type="number" id="goal_weight" name="goal_weight" placeholder="Goal weight in kg" required>
      <small>Don't worry. This doesn't affect your daily calorie goal and you can always change it.</small>
    </div>
    <div class="goals">
      <div class="form-group">
        <label>Goals:</label>
      </div>
      <label class="goal-option">
        <input type="checkbox" name="goals" value="lose_weight" id="lose_weight">
        <span class="custom-button">Lose weight</span>
      </label>
      <label class="goal-option">
        <input type="checkbox" name="goals" value="gain_muscle" id="gain_muscle">
        <span class="custom-button">Gain muscle</span>
      </label>
      <label class="goal-option">
        <input type="checkbox" name="goals" value="maintain" id="maintain">
        <span class="custom-button">Maintain</span>
      </label>
      <label class="goal-option">
        <input type="checkbox" name="goals" value="health" id="health">
        <span class="custom-button">Be Healthy</span>
      </label>
    </div>
    <div class="form-group">
      <label>Dietary restrictions:</label>
      <p>Select all that apply.</p>
      <label class="restriction-option">
        <input type="checkbox" name="restrictions" value="vegan" id="vegan">
        <span class="custom-button">Vegan</span>
      </label>
      <label class="restriction-option">
        <input type="checkbox" name="restrictions" value="vegetarian" id="vegetarian">
        <span class="custom-button">Vegetarian</span>
      </label>
      <label class="restriction-option">
        <input type="checkbox" name="restrictions" value="diabetic" id="diabetic">
        <span class="custom-button">Diabetic</span>
      </label>
      <label class="restriction-option">
        <input type="checkbox" name="restrictions" value="lactose-intol" id="lactose-intol">
        <span class="custom-button">Lactose Intolerant</span>
      </label>
      <label class="restriction-option">
        <input type="checkbox" name="restrictions" value="high-cholesterol" id="high-cholesterol">
        <span class="custom-button">High Cholesterol</span>
      </label>
    </div>
    <div class="form-group">
      <label>Allergies:</label>
      <p>Select all that apply.</p>
      <label class="allergy-option">
        <input type="checkbox" name="allergies" value="milk" id="milk">
        <span class="custom-button">Milk</span>
      </label>
      <label class="allergy-option">
        <input type="checkbox" name="allergies" value="eggs" id="eggs">
        <span class="custom-button">Eggs</span>
      </label>
      <label class="allergy-option">
        <input type="checkbox" name="allergies" value="peanuts" id="peanuts">
        <span class="custom-button">Peanuts</span>
      </label>
      <label class="allergy-option">
        <input type="checkbox" name="allergies" value="wheat" id="wheat">
        <span class="custom-button">Wheat</span>
      </label>
      <label class="allergy-option">
        <input type="checkbox" name="allergies" value="fish" id="fish">
        <span class="custom-button">Fish</span>
      </label>
    </div>
    <button type="submit" class="update-btn">Update</button>
  </form>
</div>