<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    {{#if style}}
    <link rel="stylesheet" href="{{style}}">
    {{/if}}
    <title>Abu Dhabi Eats</title>
</head>
<body>
    {{#if extendedHeader}}
        <header>
          <div class="logo">Abu Dhabi Eats</div>
          <div class="user-info">
            <span>Hi, {{username}}</span>
            <a href="#">Settings</a>
            <a href="#">Log Out</a>
          </div>
        </header>
    {{else}}
        <header>
            <a href="/" class="logo">Abu Dhabi Eats</a>
        </header>
    {{/if}}
    {{{body}}}
</body>
</html>
